<ng-container *ngIfLoaded='configFile || error'>
  <ng-container *ngIf='configFileLoaded; then configFileLoaded; else configFileError'></ng-container>
</ng-container>


<ng-template #configFileLoaded>
  <ng-container *ngIf='configFile'>
    <p>Hostname: {{configFile.hostname}}</p>
    <p>Server: {{configFile.serverHost}}</p>
    <ng-container *ngFor='let https of configFile!.https; let i = index'>
      <app-endpoint-card [endpointEntry]='https'></app-endpoint-card>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #configFileError>
  <ng-container *ngIf='error'>
    <p>Error na config File</p>
  </ng-container>
</ng-template>
